<div class="tab display-none">
  <div class="col-lg-7 mx-auto">
    <label class="label"><%= subtitle %></label>
    <div class="">
      <div class="form-group w-100 text-center" >
        <input
          name="<%= name %>"
          required
          data-parsley-required="true"
          data-parsley-required-message="<%= parsley_message %>"
          data-parsley-group="<%= parsley_group %>"
          id="<%= income_id %>"
          type="number"
          class="form-control text-col expenses"
          placeholder="<%= placeholder %>"
        >
      </div>
    </div>
  </div>
</div>