<div class="tab shadow" id="<%= id  %>">
  <div class="card my-3 border-col d-none">
    <div class="card-header cursor-p bg-white" id="<%= income_id %>">
      <h5 class="mb-0">
        <div type="button" class="accordion-title btn w-100 d-flex justify-content-between" data-toggle="collapse" data-target="#<%= name %>" aria-expanded="true" aria-controls="#<%= name %>">
          <div>
            <span><%= title %></span>
          </div>
          <div>
            <i class="accordian-toggle-icon fa fa-info cursor-p mr-2 text-muted fa-minus-circle"></i>
          </div>
        </div>
      </h5>
    </div>
    <div id="<%= name %>" class="pb-0 collapse show"
      aria-labelledby="<%= income_id %>"
      data-parent="#accordion">
      <div class="card-body">
        <label class="text-center"><%= subtitle %></label>
        <div class="d-flex w-md-50 mx-auto flex-wrap justify-content-center">
          <div class="w-xs-100 w-md-100 w-sm-50 p-1 form-group" >
            <input
              name="<%= name %>"
              required
              data-parsley-required="true"
              data-parsley-required-message="<%= parsley_message %>"
              data-parsley-group="<%= parsley_group %>"
              id="<%= income_id %>"
              type="number"
              class="form-control text-col expenses"
              placeholder="<%= placeholder %>"
            >
          </div>
        </div>
        <div class="row justify-content-center">
          <input data-target="#dob" type="button" name="next-btn" class="btn back-color px-5 text-white font-weight-bold rounded-pill step" value="NEXT">
        </div>
      </div>
    </div>
  </div>
</div>
