<!-- Network logos Section -->
<section class=" bg-transparent">
	<h3 class="mb-0 text-center text-blue-head pb-3 pt-4 fs-sm-23">Choose The Latest Smartphones From The Top Brands</h3>
  <div class="row w-100 mx-0 justify-content-around align-items-center py-3">
    <%= image_tag("mobile-companies/apple1.png", class: "mobile-network-logo1 mb-md-0 mb-2", alt: "apple-network logo" ) %>
    <%= image_tag("mobile-companies/blackberry.png", class: "mobile-network-logo mb-md-0 mb-2", alt: "blackberry logo" ) %>
    <%= image_tag("mobile-companies/google.png", class: "mobile-network-logo mb-md-0 mb-2", alt: "google logo") %>
    <%= image_tag("mobile-companies/htc.png", class: "mobile-network-logo mb-md-0 mb-2", alt: "htc logo") %>
    <%= image_tag("mobile-companies/huawei.png", class: "mobile-network-logo mb-md-0 mb-2", alt: "huawei logo") %>
    <%= image_tag("mobile-companies/oneplus.png", class: "mobile-network-logo mb-md-0 mb-2", alt: "oneplus logo") %>
    <%= image_tag("mobile-companies/samsung.png", class: "mobile-network-logo1 mb-md-0 mb-2", alt: "samsung logo") %>
  </div>
</section>