<div class="container mt-4">
  <h2 class="text-center ">Accepted Lead Data</h2>
  <div class="row w-100 justify-content-center align-items-center my-3">
    <h5 class="text-muted"> Previous Month Leads =</h5>
    <h5 class="pMonthLeads ml-3 mb-0 text-success"><%= LeadCount.where(created_at: (1.month.ago.beginning_of_month)..(1.month.ago.end_of_month)).count %></h5>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Total Leads</th>
        <th scope="col">Standard leads</th>
        <th scope="col">Accpet page leads</th>
      </tr>
    </thead>
    <tbody>
      <% @acceptedleads.each do |date, lead| %>
        <tr>
          <td><%= date %></td>
          <td><%= lead.count%></td>
          <td><%= LeadCount.where(accept_page: false, id: lead.map(&:id)).count%></td>
          <td><%= LeadCount.where(accept_page: true, id: lead.map(&:id)).count%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>