<%= javascript_pack_tag 'accepted_lead_data', 'data-turbolinks-track': 'reload', defer: true %>
<div class="container mt-4">
  <h2 class="text-center ">Accepted Lead Data</h2>
  <div class="my-3">
    <% unless params[:daterange].present? %>
      <div class="previous-month-count d-flex justify-content-center my-2">
        <h5 class="text-muted mb-0">Previous Month Leads = </h5>
        <h5 class="MonthLeads ml-3 mb-0 text-success"><%= @accepted_leads_count %></h5>
      </div>
      <div class="current-month-count d-flex justify-content-center my-2">
        <h5 class="text-muted mb-0">Current Month Leads = </h5>
        <h5 class="MonthLeads ml-3 mb-0 text-success"><%= @current_month_leads_count %></h5>
      </div>
    <% else %>
      <div class="d-flex justify-content-center my-2">
        <h5 class="text-muted mb-0">Leads Count = </h5>
        <h5 class="MonthLeads ml-3 mb-0 text-success"><%= @accepted_leads_count %></h5>
      </div>
    <% end %>
  </div>
  <div>
    <form method="get" action="/accepeted_lead_data" class="d-flex align-items-center justify-content-end">
      <div class="form-group">
        <label for="daterange" class="d-flex mb-0 align-items-center">
          <p class="mb-0">Date: </p>
          <input id="daterange" type="text" placeholder="Select Date.." name="daterange"  class= "form-control w-100 bg-white shadow-light py-2 mx-2" data-behavior="daterangepicker" <%if params[:daterange].present? %> value= "<%=  params[:daterange]%>" <% end %>>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Apply</button>
      </div>
    </form>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Total Leads</th>
        <th scope="col">Standard leads</th>
        <th scope="col">Accpet page leads</th>
        <th scope="col">Source</th>
      </tr>
    </thead>
    <tbody>
      <% @acceptedleads.each do |date, lead| %>
        <tr>
          <td><a href="/accepted_lead_details?date=<%= date%>"><%= date %></a></td>
          <td><%= lead.count%></td>
          <td><%= LeadCount.where(accept_page: false, id: lead.map(&:id)).count%></td>
          <td><%= LeadCount.where(accept_page: true, id: lead.map(&:id)).count%></td>
          <td>
            <% LeadCount.where(id: lead.map(&:id)).group_by(&:source).each do  |source, lead| %>
              <% if source %>
                <div class="badge badge-primary">
                  <strong> <%= source %></strong>
                  <span class="badge badge-warning"> <%= lead.count %></span>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
