<%= javascript_pack_tag 'breeze', 'data-turbolinks-track': 'reload', defer: true %>
<%= render 'layouts/sp-exit/header' %>
<div id="rmktg-awin" class="atma-fnt">
  <div class="bg-dark-blu" id="dealform" data-details="<%= @details %>">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-3">
        <h2 class="atma-fnt fw-6 text-white m-0 py-2 d-none d-md-block">Affordable phone contracts <span class="text-danger">|</span> All Credit Scores Welcome <span class="text-danger">|</span> No upfront payments</h2>
        <h2 class="atma-fnt fw-6 text-white text-center m-0 py-2 d-block d-md-none fs-md-24">Affordable phone contracts <span class="text-danger"><br></span> All Credit Scores Welcome <span class="text-danger"><br></span> No upfront payments</h2>
      </div>
    </div>
  </div>
  <div class="bg-light">
    <div class="container">
      <div class="row w-100 m-0 align-items-center justify-content-center py-4">
        <!-- deal 1 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">iPhone SE (64GB)</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/iphonese.jpg", class: "my-3", width: "90" ) %>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">4GB Data</h4>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £29</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 2 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Samsung Galaxy S10</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/galaxys10.jpg", class: "my-3", width: "80" ) %>
                  <h4 class="atma-fnt m-0 pb-3 text-light-brown fw-6">75GB Data</h4>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £41</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 3 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Samsung Galaxy A71</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/galaxya71.jpg", class: "my-3", width: "90" ) %>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">4GB Data</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £25</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 4 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">iPhone XR (64GB)</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/iphonexr.jpg", class: "my-3", width: "110" ) %>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">20GB Data</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £43</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 5 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Samsung Galaxy A51</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/galaxya51.jpg", class: "my-3", width: "90" ) %>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">5GB Data</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Just <span class="font-weight-bold h1"> £23</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 6 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">iPhone 11 (64GB)</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£39 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/iphone11.jpg", class: "my-3", width: "80" ) %>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">100GB Data</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Only <span class="font-weight-bold h1"> £47</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 7 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">Samsung Galaxy A10</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/galaxya10.jpg", class: "my-3", width: "100" ) %>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">2GB Data</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Only <span class="font-weight-bold h1"> £17</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- deal 8 -->
        <div class="deal-w mb-4 mt-md-4">
          <div class="col text-center position-relative">
            <a href="javascript:;" class="text-decoration-none deal-div">
              <div class="deals2 shadow-lg">
                <div class="bg-white">
                  <div class="div-smarty text-center py-4">
                    <h4 class="text-dark fw-100"><span class="fw-6">iPhone 7 (32GB)</span> by</h4>
                    <%= image_tag("breeze-logo.png", class: "", width: "200" ) %>
                  </div>
                  <div class="bg-dark-brown2 py-2">
                    <h4 class="text-white m-0">£0 Upfront</h4>
                  </div>

                  <%= image_tag("new-sims/plus.png", class: "my-2", width: "30" ) %>
                  <h3 class="m-0 atma-fnt text-primary font-weight-bold">Unlimited</h3>

                  <div class="row m-0 w-100 align-items-center pt-2">
                    <div class="col-6 text-center">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Calls</h4>
                      <%= image_tag("new-sims/phone.png", class: "", width: "30" ) %>
                    </div>
                    <div class="col-6">
                      <h4 class="atma-fnt text-primary fw-6 m-0">Texts</h4>
                      <%= image_tag("new-sims/text.png", class: "", width: "30" ) %>
                    </div>
                  </div>
                  <%= image_tag("breeze/iphone7.jpg", class: "my-3", width: "110" ) %>
                  <h5 class="atma-fnt m-0 pb-3 text-light-brown fw-6">5GB Data</h5>
                  <div class="row">
                    <button class="btn rounded-0 btn-buynow text-white">Buy Now</button>
                  </div>
                </div>
                <div class="bg-dark-brown2 py-1 mt-50">
                  <h4 class="text-white m-0">Only <span class="font-weight-bold h1"> £23</span><span class="h6 fw-100">/month</span></h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row w-100 m-0 align-items-center justify-content-center py-3 bg-dark-blu">
    <div class="col-md-4 text-center red-border">
      <%= image_tag("new-sims/tick.svg", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-light">Deals for all credit levels</h3>
    </div>
    <div class="col-md-4 text-center red-border mt-4 mt-md-0">
      <%= image_tag("new-sims/circle.png", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-white">Truly unlimited calls & texts</h3>
    </div>
    <div class="col-md-4 text-center mt-4 mt-md-0">
      <%= image_tag("new-sims/tick.svg", class: "mb-2", width: "60" ) %>
      <h3 class="atma-fnt text-light">Perfect for everyone</h3>
    </div>
  </div>
</div>

<%= render 'layouts/common/footer' %>
