<%= javascript_pack_tag 'cheapest-deals', 'data-turbolinks-track': 'reload', defer: true %>

<%= render 'layouts/sp-exit/header' %>
<div id="cheapest-deals">
	<div class="bg-header">
		<div class="container">
			<div class="row flex-sm-row-reverse">
				<div class="col-md-6">
					<h1 class="text-white font-weight-bold text-center text-md-left d-block d-md-none pt-3">TREAT YOURSELF</h1>
					<h2 class="text-white text-md-left text-center font-weight-bold d-block d-md-none">With Our Best Mobile Phone Deals</h2>
					<%= image_tag("girl.png", class: "head-img d-none d-md-block" ) %>
					<%= image_tag("samsunga10s.png", class: "head-img d-block d-md-none" ) %>
				</div>
				<div class="col-md-6 align-self-center mb-4 mb-md-0 text-center text-md-left">
					<h1 class="text-white font-weight-bold text-center text-md-left d-none d-md-block">TREAT YOURSELF</h1>
					<h2 class="text-white text-md-left text-center font-weight-bold d-none d-md-block">With Our Best Mobile Phone Deals</h2>
					<button class="btn btn-orang shadow-btn py-3 px-5 mt-md-5 mt-4 open-form">GET DEAL NOW</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container pt-md-5 pt-4">
		<h2 class="text-center font-weight-bold gradient">Switch To the Cheapest Mobile Deals In the UK & Save Time and Money</h2>
		<div class="px-md-5 text-center">
			<p>
				Looking for the cheapest mobile deals on your own is a waste of time. Leave the tedious task to us. We find the best-fit mobile deals for you, so you can enjoy your free time and savings. 
			</p>
			<h6 class="font-weight-bold">
				The first step of your best mobile deal takes just 10 seconds
			</h6>
			<button class="btn btn-orang shadow-btn py-3 px-5 my-4 open-form text-uppercase">GET YOUR DEAL</button>
		</div>
		<h2 class="text-center font-weight-bold gradient py-md-3">Our Networking Partners</h2>
		<%= render 'layouts/cheapest-deals/networking-partners' %>
	</div>
	<div class="bg-gradient py-md-5 py-3">
		<div class="container">
			<h2 class="text-center font-weight-bold text-white pb-md-5 pb-3">Your Mobile Deals Options</h2>
			<div class="row w-100 mx-0">
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="deal-box bg-white shadow text-center p-3">
						<h3 class="gradient font-weight-bold">Smartphone Deals</h3>
						<p class="">We help you find the best mobile deals like:</p>
						<ul class="text-left list-unstyled">
							<li class="mb-2">
                <i class="fas fa-check-circle mr-2 fs-18"></i>
								Best iPhone deals in the UK
							</li>
							<li class="mb-2">
								<i class="fas fa-check-circle mr-2 fs-18"></i>
								Samsung phone deals
							</li>
							<li class="mb-2">
								<i class="fas fa-check-circle mr-2 fs-18"></i>
								Other cheap smartphone deals
							</li>
						</ul>
						<button class="btn btn-orang shadow-btn py-3 px-3 w-75 mt-3 open-form btn-absolute">Explore Deals</button>
					</div>
				</div>
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="deal-box bg-white shadow text-center p-3">
						<h3 class="gradient font-weight-bold">Sim and Mobile deals</h3>
						<p class="">Our mobile deals experts guide you through the whole range of deals so that you can select the one that suits you best.</p>
						<button class="btn btn-orang shadow-btn py-3 px-3 w-75 mt-3 open-form btn-absolute">Explore Deals</button>
					</div>
				</div>
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="deal-box bg-white shadow text-center p-3">
						<h3 class="gradient font-weight-bold">Sim-Only Deals</h3>
						<p class="">Select the monthly package of minutes, texts, and mobile data that best fits your needs and get the best value for money with Mega Mobile Deals.</p>
						<button class="btn btn-orang shadow-btn py-3 px-3 w-75 mt-3 open-form btn-absolute">Explore Deals</button>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="container py-5">
		<h2 class="text-center gradient pb-md-5 pb-3 font-weight-bold">Why Mega Mobile Deals Mobile Deals?</h2>
		<div class="row w-100 mx-0">
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="deal-box zoom-effect shadow text-center p-3">
					<%= image_tag("cheap-deals/financial.png", class: "why-icon" ) %>
					<h3 class="gradient font-weight-bold pt-2 bg-white text-roange">Financial Freedom</h3>
					<p>Mobile phones and sims are a vital part of our lives as they cost about 25% of your monthly salary. Our robust relationships with all network partners empower you to take control over your mobile spends. </p>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="deal-box zoom-effect shadow text-center p-3">
				<%= image_tag("cheap-deals/freedom.png", class: "why-icon" ) %>
					<h3 class="gradient font-weight-bold pt-2 bg-white text-roange">Time Freedom</h3>
					<p>We find the best mobile deals by checking quotes from different providers, thus saving you from wasting your time looking around the shops or surfing the web and jumping from site to site.</p>
				</div>
			</div>
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="deal-box zoom-effect shadow text-center p-3">
				<%= image_tag("cheap-deals/simplicity.png", class: "why-icon" ) %>
					<h3 class="gradient font-weight-bold pt-2 bg-white text-roange">Simplicity and Ease</h3>
					<p>We gather all the information you need in one place, so you can easily make the right decision and choose the best mobile deal tailored to your needs.</p>
				</div>
			</div>
		</div>
  </div>
  <div class="bg-gradient py-5">
    <div class="container">
      <div class="row mx-0 w-100">
    		<div class="text-center col-md-7">
    			<h3 class="text-white font-weight-bold mb-0">Our mobile experts would love to help you select your best mobile deal</h3>
        </div>
        <div class="col-md-5 text-center">
    			<button class="btn btn-orang shadow-btn py-3 px-3 px-md-5 open-form pulse">Find Your Mobile Deal</button>
        </div>
    	</div>
    </div>
  </div>
  <div class="container">
		<div class="text-md-center py-md-5 py-3">
			<h3 class="gradient font-weight-bold pb-3 text-center">Save Time & Money with Your 3-Step Best Mobile Deal</h3>
			<div class="row w-100 mx-0">
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="deal-box2 zoom-effect shadow text-center p-3">
						<div class="step-circle mx-auto gradient text-blu">
							1
						</div>
						<h3 class="gradient font-weight-bold pt-3 bg-white text-roange">Tell Us Your Needs</h3>
						<p>Simply let us know what your preferences are and we’ll get down to the task.</p>
					</div>
				</div>
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="deal-box2 zoom-effect shadow text-center p-3">
						<div class="step-circle mx-auto gradient text-blu">
							2
						</div>
						<h3 class="gradient font-weight-bold pt-3 bg-white text-roange">We Do The Tedious Task While You Relax</h3>
						<p>We’ll pick out the best deals for you.</p>
					</div>
				</div>
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="deal-box2 zoom-effect shadow text-center p-3">
						<div class="step-circle mx-auto gradient text-blu">
							3
						</div>
						<h3 class="gradient font-weight-bold pt-3 bg-white text-roange">Get Your Best Deal and Enjoy Your Savings</h3>
						<p>Pick the phone that most suits you saving up to £500.</p>
					</div>
				</div>
			</div>
    </div>
  </div>
  <div class="bg-gradient">
    <div class="container">
      <div class="row mx-0 w-100">
        <div class="col-md-6 align-self-center text-white py-5">
          <div class="pl-md-5 ml-md-5 mb-3">
            <h3 class="font-weight-bold mb-3">What’s in it for you?</h3>
            <ul class="list-unstyled mb-0">
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>Avoid the stress of looking around the shops.</li>
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>A huge range of options to choose from.</li>
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>Select the best choice at the best price.</li>
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>Big Discounts on sim and mobile deals.</li>
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>Save time, money, and energy.</li>
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>No hidden fees and costs.</li>
              <li class="font-li mb-2"><i class="text-white fas fa-check-circle mr-2 fs-18"></i>Data-driven purchase decisions.</li>
            </ul>
            <div class="text-center text-md-left">
              <button class="btn btn-orang shadow-btn py-3 px-5 mt-4 open-form pulse">Get Your Deal</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 align-self-end text-center d-none d-md-block">
          <%= image_tag('init-image.png') %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
		<div class="py-md-5 pb-3">
			<h3 class="gradient font-weight-bold py-4 text-center">Choose From the Huge Range of Phones and SIM Options </h3>
			<p class="text-left">Mega Mobile Deals provides a wide range of mobile phones, SIM-only options, and leading networks that you can choose from. Whether you are looking for the very last smartphone model or a SIM-only option, we can help you find the best deal that matches your needs. From the best iPhone 12 deals to SIM-only deals - we keep you covered 24/7.</p>
			<h3 class="gradient font-weight-bold py-4 text-center">How Can You Find the Cheapest Mobile Phone Deals?</h3>
			<p>
				You can rely on our experts to guide you through the most essential factors you should consider when making your purchase decision. Compare smartphones with Mega Mobile Deals to get the affordable phone deal you want
			</p>
			<p>
				It takes only a few clicks to find your best-fit smartphone deal. We compare more than 600 mobile phone deals so that you can easily identify the most favourable one and save up to £500 buying the model of your choice.
			</p>
			<h3 class="gradient font-weight-bold py-4 text-center">How Can You Compare Smartphones?</h3>
			<p>
				Simply insert your name and email address and compare the extensive variety of deals available to you.
			</p>
			<p>
				Our mobile deals experts help you find the right phone and package for your needs, based on your preferences of:
			</p>
			<ul class="list-unstyled">
				<li>
					<i class="fas fa-check-circle mr-3"></i>
					Smartphone brand and model
				</li>
				<li>
					<i class="fas fa-check-circle mr-3"></i>
					Price
				</li>
				<li>
					<i class="fas fa-check-circle mr-3"></i>
					Features, such as storage, OS, processor speed, camera, battery capacity, colour, etc.
				</li>
				<li>
					<i class="fas fa-check-circle mr-3"></i>
					Network providers, such as Three, Vodafone, iD Mobile, O2, EE, BT Mobile, etc.
				</li>
			</ul>
			<p>
				We will offer you a selection of the best matching deals so that you can compare the options and decide on the deal to go ahead with. Whether you’re looking for the latest iPhone model or a more budget-friendly option, we, at Mega Mobile Deals, will help you find the phone you will love and will be happy with.
			</p>
    </div>
  </div>
  <div class="bg-gradient py-5">
    <div class="container">
      <div class="row mx-0 w-100 ">
        <div class="text-left col-md-8 mx-auto text-white">
          <h3 class="font-weight-bold">Choose the best mobile deal tailored to your needs</h3>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>Take control over your mobile spends and enjoy your savings</li>
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>No looking around the shops or surfing the web, no wasting your valuable time</li>
          </ul>
        </div>
        <div class="col-md-4 text-center align-self-center">
          <button class="btn btn-orang shadow-btn py-3 px-5 mt-3 open-form pulse">Get Your Deal</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="py-md-5 pb-3">
				<h3 class="gradient font-weight-bold py-4 text-center">How Can You Get a Cheaper Mobile Phone Deal?</h3>
				<p>
					One of the options to get a budget deal is opting for an older model, which may lack some of the latest features, and a lower data allowance. You could also keep an eye on limited-time offers, such as Black Friday that may be a great opportunity to find a cheaper deal.
				</p>
				<p>
					Using Mega Mobile Deals services, you make sure that you’re updated on any limited-period sales so that you can take advantage of getting the best value.
				</p>
				<h3 class="gradient font-weight-bold text-center py-4">What Are the Different Options for Mobile Deals?</h3>
				<p>You have 3 models for mobile deals you can choose from:</p>
				<ul class="list-unstyled">
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Contract phone deals that involve paying a monthly fee for a new phone and a set allowance of minutes, texts, and data. 
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						SIM-only deals that include a new SIM card and a mobile services contract for either 1 or 12 months, but not a new phone.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						SIM-free deals that mean you only pay for what you use and must top up your credit, or you won’t be able to make calls or send texts.
					</li>
				</ul>
				<h3 class="gradient font-weight-bold text-center py-4">How Does a Phone Contract Work?</h3>
				<p>
					With a phone contract, or a monthly phone contract, you pay a set amount every month for a phone that has a given allowance of minutes, texts, and data. Usually, the contract covers a period of 12, 18, or 24 months.
				</p>
				<h3 class="gradient font-weight-bold text-center py-4">How to Decide On Your Phone Contract?</h3>
				<p>
					There are a number of factors that you have to consider when selecting your phone contract.
				</p>
				<p>
					First of all, think of your current phone usage and the services you use extensively. Do you predominantly use your mobile to make calls or do you heavily rely on mobile data for your communication instead? The answer to this question will enable you to identify your needs for call, text, and data allowance more precisely.
				</p>
				<p>
					Other criteria you need to determine are the upfront and monthly costs that suit you best and the network features and coverage that match your needs.
				</p>
				<p>
					In addition, you may have to decide whether to opt for a new contract or just upgrade your current one using the same network. If you’re not quite satisfied with the mobile services you’re getting, you may choose the first option and switch to another provider, retaining your number. Otherwise, you could simply upgrade your contract to suit your current needs.
				</p>
				<p>
					Our experts are devoted to helping you analyse all these factors and narrow your search so that you are able to select the best-fitting mobile deal for you.
				</p>
  	  </div>
    </div>
  </div>
  <div class="bg-gradient py-5">
    <div class="container">
      <div class="row mx-0 w-100 ">
        <div class="text-left col-md-8 mx-auto text-white">
          <h3 class="font-weight-bold">Choose the best mobile deal tailored to your needs</h3>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>Take control over your mobile spends and enjoy your savings</li>
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>No looking around the shops or surfing the web, no wasting your valuable time</li>
          </ul>
        </div>
        <div class="col-md-4 text-center align-self-center">
          <button class="btn btn-orang shadow-btn py-3 px-5 mt-3 open-form pulse">Get Your Deal</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="py-md-5 pb-3">
				<h3 class="gradient font-weight-bold text-center py-4">
					Is an Upfront Payment Required For a Contract Phone?
				</h3>
				<p>
					There isn’t a straightforward answer to this question as it depends on the particular phone brand and model you’ve selected. You may have to pay between £50 and £200 in advance, particularly with the latest phone models.
				</p>
				<p>
					There are, however, plenty of contracts that don’t involve large upfront payments and you can avoid excessive spending that isn’t in line with your budget.
				</p>
				<h3 class="gradient font-weight-bold text-center py-4">Is a Phone Plan With Unlimited Data Beneficial For You?</h3>
				<p>
					Unlimited mobile data allowance is the most suitable option for you in case you use your mobile for online messaging, sending and receiving large amounts of data, and making voice or video calls. If you browse the web, use social media, watch movies, or stream music or video on the go, you should also opt for this contract plan.
				</p>
				<p>
					Having unlimited mobile data, however, is ineffective and an unnecessary expense in case you tend to use your phone for calls and texts.
				</p>
				<h3 class="gradient font-weight-bold text-center py-4">Should You Be Tempted By Free Gifts and Cashback Offers?</h3>
				<p>
					As alluring as they may seem, such incentives usually indicate that the price of the mobile is higher than the average, so you’d better be careful when it comes to freebies.
				</p>
				<h3 class="gradient font-weight-bold text-center py-4">How Can You Make Your Mobile Deal More Cost-Effective?</h3>
				<p>To get the cheapest mobile deal, keep in mind these simple tips:</p>
				<ul class="list-unstyled">
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Sell your old mobile to reduce the cost of your smartphone deal.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Avoid cancellation fees by switching outside your mobile services agreement.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Make sure that the network you’ve chosen has good coverage in your area so that you don’t pay for services that you don’t have access to.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Avoid paying for unused services or being charged excessively for overusing your allowance of minutes, texts, and data by calculating the amount you need.
					</li>
				</ul>
				<p>
					If you have any additional questions, our experts will be happy to help you reduce your overall mobile services cost by providing you with useful information and tips on increasing your savings.
				</p>
      </div>
    </div>
  </div>
  <div class="bg-gradient py-5">
    <div class="container">
      <div class="row mx-0 w-100 ">
        <div class="text-left col-md-8 mx-auto text-white">
          <h3 class="font-weight-bold">Choose the best mobile deal tailored to your needs</h3>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>Take control over your mobile spends and enjoy your savings</li>
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>No looking around the shops or surfing the web, no wasting your valuable time</li>
          </ul>
        </div>
        <div class="col-md-4 text-center align-self-center">
          <button class="btn btn-orang shadow-btn py-3 px-5 mt-3 open-form pulse">Get Your Deal</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="py-md-5 pb-3">
				<h3 class="gradient font-weight-bold text-center py-4">What Are the Benefits of a Pay Monthly Contract?</h3>
				<p>
					Unlike SIM-only and SIM-free options, with a phone contract, you can get one of the latest models without paying its full price. Your monthly fees cover the cost of the phone during the contract period. Meanwhile, you can stay connected at all times and make use of the allowance of minutes, texts, and data that best matches your needs.
				</p>
				<h3 class="gradient font-weight-bold text-center py-4">
					What Are the Advantages of SIM-Only Deals in the UK?
				</h3>
				<p>
					This is the best option if you’re happy with your mobile or you want to buy your new phone with no long-term phone contract.
				</p>
				<p>
					SIM-only deals come with their benefits:
				</p>
				<ul class="list-unstyled">
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Possibly lower cost on account of reducing your monthly fees.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Flexibility to get a 1- month or 12-month contract without being tied for 12-24 months, so you can change your deal if you want to.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Possibility to retaining your existing phone or buying a new one.
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Possibly easier credit check due to the lower cost that makes you a lower risk candidate.
					</li>
				</ul>
				<h3 class="gradient font-weight-bold text-center py-4">What SIM card do you need?</h3>
				<p>
					SIM cards are produced in 3 main versions designed to fit the various devices:
				</p>
				<ul class="list-unstyled">
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Standard SIM card (15mm x 25mm) that are not commonly used nowadays
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Micro SIM card (12mm x 15mm)
					</li>
					<li>
						<i class="fas fa-check-circle mr-3"></i>
						Nano SIM card (8.8m x 12.3mm) used by the latest mobile phones
					</li>
				</ul>
				<p>
					It’s good to know that usually, SIM cards come in a 3-in-1 form, so you can select which one fits your mobile or tablet.
				</p>
				<h1 class="text-center gradient font-weight-bold py-md-5 py-4">FAQs</h1>
				<h4 class="gradient font-weight-bold pb-3">What is the best phone deal?</h4>
				<p>
					It all comes down to what phone would meet your needs and what your budget is. We have a great variety of options, such as the latest iPhone and Samsung Galaxy to smartphones from brands like Honor and OnePlus. We’ll be happy to help you choose the right phone deal for you.
				</p>
				<h4 class="gradient font-weight-bold py-3">Which mobile deals offer unlimited data?</h4>
				<p>
					Mobile networks such as Vodafone, Three, O2, and iD Mobile offer unlimited data. Our experts can guide you to the best mobile deal in the UK. 
				</p>
				<h4 class="gradient font-weight-bold py-3">Which phone contract is best for me?</h4>
				<p>
					It all comes down to a few factors. The cheapest option for somebody else may not work for you. To find what suits you best, simply check out and compare a number of deals. The most suitable for you depends on a few factors. For example, if you use your mobile phone extensively, it would be better to spread the price of getting the latest phone over your monthly fees. In case you don’t use your phone and you would like to keep it but you’re looking for a budget price, it might be a good choice to get a SIM-only deal.
				</p>
			</div>
    </div>
  </div>
  <div class="bg-gradient py-5">
    <div class="container">
      <div class="row mx-0 w-100 ">
        <div class="text-left col-md-8 mx-auto text-white">
          <h3 class="font-weight-bold">Choose the best mobile deal tailored to your needs</h3>
          <ul class="list-unstyled mt-3 mb-0">
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>Take control over your mobile spends and enjoy your savings</li>
            <li class="font-li"><i class="fas fa-check-circle mr-3 text-white"></i>No looking around the shops or surfing the web, no wasting your valuable time</li>
          </ul>
        </div>
        <div class="col-md-4 text-center align-self-center">
          <button class="btn btn-orang shadow-btn py-3 px-5 mt-3 open-form pulse">Get Your Deal</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="py-md-5 pb-3">
				<h4 class="gradient font-weight-bold py-3">After the contract period ends, do I own my phone?</h4>
				<p>
					Of course! This means that you have paid the entire contract plan and the phone belongs to you. After that, you can choose SIM-only deals in order to continue using your phone.
				</p>
				<h4 class="gradient font-weight-bold py-3">I’ve got a new smartphone. Do I have to turn in my old one?</h4>
				<p>
					It’s your choice. You could sell it or keep it as a backup phone in case you lose your new one or something happens to it.
				</p>
				<h4 class="gradient font-weight-bold py-3">
					Should I pay upfront or monthly for a mobile deal?
				</h4>
				<p>
					If you can afford the mobile deal, simply pair it with a SIM-only deal. It’s cheaper and you can choose the mobile network according to your needs.
				</p>
				<h4 class="gradient font-weight-bold py-3">If I change to SIM only, Can I keep my mobile number?</h4>
				<p>
					Yes, you can retain your mobile number by asking your old provider for a PAC code by phone or online. You have to provide this to your new provider within 30 days.
				</p>
				<h4 class="gradient font-weight-bold py-3">
					If I have bad credit, can I get a smartphone deal?
				</h4>
				<p>
					Good question! Take note, that there is no minimum credit score to get a smartphone deal in the UK laws. However, when you take out a new phone contract, your credit score will be checked by the contract provider. Each of them can score you differently, which means you may be rejected.
				</p>
				<h5 class="gradient font-weight-bold text-center py-4">Our mobile experts would love to help you select your best mobile deal</h5>
				<div class="text-center">
					<button class="btn btn-orang shadow-btn py-3 px-3 px-md-5 mb-3 open-form mx-auto">Find Your Mobile Deal</button>
				</div>
			</div>
		</div>

	</div>
</div>

<%= render 'layouts/common/footer' %>
<%= render 'layouts/homev2/step_form'%>
<%= render 'layouts/common/data_share_iframes' %>

