<%= javascript_pack_tag 'o2', 'data-turbolinks-track': 'reload', defer: true %>
<div id="new-o2-page">
  <%= render 'layouts/o2/header' %>
  <%= render 'layouts/o2/main-banner' %>
  <div class="mb-3"></div>
  <%= render 'layouts/o2/mobile_companies_logos' %>
  <div class="mt-3 border-top"></div>
  <%= render 'layouts/o2/deals' %>
  <%= render 'layouts/o2/testimonials'  %>
  <%= render 'layouts/o2/why-choose-us'  %>
  <%= render 'layouts/o2/faq' %>
  <%= render 'layouts/common/footer' %>
  <%= render 'layouts/common/waiting_loader' %>
</div>
