<!-- Network logos Section -->
<section class=" bg-white form-logos" data-url="/success" >
  <div class="row w-100 mx-0 justify-content-around align-items-center pb-3 pb-md-0">
    <%= image_tag("company/ee.png", class: "network-log", alt: "EE-network logo" ) %>
    <%= image_tag("company/vodafone.png", class: "network-log", alt: "vodafone-network logo" ) %>
    <%= image_tag("company/id.png", class: "network-log", alt: "id-network logo") %>
    <%= image_tag("company/three.png", class: "network-log", alt: "three-network logo") %>
    <%= image_tag("company/02.png", class: "network-log", alt: "O2-network logo") %>
  </div>
</section>