<%= form_with(model: exit_delivery, local: true) do |form| %>
  <% if exit_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exit_delivery.errors.count, "error") %> prohibited this exit_delivery from being saved:</h2>

      <ul>
        <% exit_delivery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url  %>
    <%= form.text_field :url, :required => true%>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.number_field :percentage, :step => "0.01", :required => true%>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['sold','unsold']%>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, :required => true%>
  </div>

  <div class="field">
    <%= form.label :cap %>
    <%= form.number_field :cap, :required => true%>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field d-none" >
    <%= form.label :count%>
    <%= form.number_field :count, :readonly => true%>
  </div>

  <div class="field d-none">
    <%= form.label :operational %>
    <%= form.text_field :operational, :readonly => true%>
  </div>

  <div class="field">
    <%= form.label :functional %>
    <%= form.select :functional, ['active', 'disable']%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
