<div class="exit-delivery">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Url:</strong>
    <%= @exit_delivery.url %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= @exit_delivery.percentage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @exit_delivery.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= @exit_delivery.priority %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= @exit_delivery.cap %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= @exit_delivery.source %>
  </p>

  <p>
    <strong>Functional:</strong>
    <%= @exit_delivery.functional %>
  </p>
  <!-- <p>
    <strong>Count:</strong>
    <%= @exit_delivery.count %>
  </p>

  <p>
    <strong>Operational:</strong>
    <%= @exit_delivery.operational %>
  </p> -->

  <%= link_to 'Edit', edit_exit_delivery_path(@exit_delivery) %> |
  <%= link_to 'Back', exit_deliveries_path %>
</div>
