<div class="py-3">
	<div class="row align-items-center justify-content-around">
		<%= image_tag("company/02.png", class: "networking-partner" ) %>
		<%= image_tag("company/ee.png", class: "networking-partner1" ) %>
		<%= image_tag("company/id.png", class: "networking-partner2" ) %>
		<%= image_tag("company/three.png", class: "networking-partner2" ) %>
		<%= image_tag("company/vodafone.png", class: "networking-partner" ) %>
		<%= image_tag("company/tessco.png", class: "networking-partner" ) %>
	</div>
</div>